* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url("./assets/background.png");
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 84px;
  margin-bottom: 24px;
  font-weight: bolder;
  font-size: 72px;
}

.menu-desc {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  font-size: 20px;
  color: dimgray;
}

.mode-button {
  width: 320px;
  height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  border: solid gray;
  border-radius: 24px;
  background-color: whitesmoke;
  transform: scale(1);
  transition: transform 0.253s ease-in-out;
}

.mode-button:hover {
  transform: scale(1.1);
}

.mode-btn-img {
  width: 64px;
  height: 64px;
}

.mode-btn-text {
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
}

.game-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/* ------------------------ Board Styling ------------------------*/

.play-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.row-col {
  display: flex;
  margin: 14px;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 24px;
  width: 100px;
  height: 100px;
  background-color: white;
  transform: scale(1);
}

.row-col:hover:empty {
  background-color: lightgray;
  transform: scale(1.1);
}

.game-notif {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
  color: green;
}

/* ------------------------ Player Elements  ------------------------*/
.mark {
  width: 140px;
  height: 80px;
  opacity: 0%;
  transform: scale(0.6);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.mark.active {
  opacity: 100%;
  transform: scale(1);
}

.players-panel {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 96px;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.player-mark {
  width: 140px;
  height: 80px;
}

/* ------------------------ Button ------------------------ */

.button-list {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 36px;
  border: solid dimgray;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: whitesmoke;
  transform: scale(1);
  transition: transform 0.3 ease;
}

.btn-default:hover {
  background-color: lightgray;
  transform: scale(1.05);
}

.btn-default.restart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.btn-default.restart img {
  width: 24px;
  height: 24px;
}

/* ------------------------ Responsive Part ------------------------ */
@media screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
}
