* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* index.html */
.game-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  display: flex;
  margin-top: 120px;
  justify-content: center;
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 24px;
  border: solid;
  border-radius: 8px;
  color: black;
  margin-top: 12px;
  text-decoration: none;
}

/* Board Styling */

.play-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-row .row-col {
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 24px;
  width: 100px;
  height: 100px;
}

.row-col .mark {
  width: 14 0px;
  height: 80px;

  /* opacity: 0%;
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 100%; */
  /*  KALAU MAU NAMBAHIN ANIMATION BIAR SMOOTH */
}

.players-panel {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-card {
  display: flex;
  flex-direction: column;
  margin: 0 64px;
}
